@page "/logout"

@using Microsoft.AspNetCore.Authentication
@using NetLock_Web_Console.Classes.Authentication

@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<h3>Logout</h3>

@code {
    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthentificationState(new UserSession(), true);

        NavigationManager.NavigateTo("/login", true);
    }

}
